


* {
  transition: 2s ease-in-out;
}


.Button-Interface {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#Cardlist {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex: auto;
  width: 100%;
}
#Cardlist * {
  border-radius: 10px;
}
.Card {
   width:10rem;
   height:14rem;
   border: 1em solid #00000000;
   border-radius: 10px;
}
#CardZoom {
  height: 55rem;
  width: 0rem;
  background: #00000030;
  display: block;
  background: blue;
  overflow-x: hidden;
}

#CardDisplay {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
  background: green;
  height: 100%;
}

#BigCard {
   width:20rem;
   height:50rem;
   border: 1em solid #00000000;
   display: none;
   margin: auto;
   position: fixed;
}
#zoomedInCard {
  width: 100%;
  margin: 0;
  border-radius: 10px;

}
#CardInfo {
  overflow-y: scroll;
  scrollbar-color: red #00000000;
  height: 20%;
}
